apiVersion: v1
kind: Secret 
metadata:
  name: wordpress-secret
  labels:
    app: {{ app }}
stringData:
  WORDPRESS_DB_PASSWORD: "abc@123"
  MYSQL_PASSWORD: "abc@123"
  MYSQL_ROOT_PASSWORD: "abc@123"
  MYSQL_RANDOM_ROOT_PASSWORD: "mysql@123"
  